/* defaults */
* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #f1f1f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #222;
    color: #f1f1f1;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}

/* elements */
main,
footer {
    padding: 2rem 20rem;
}

header {
    margin: 2rem 20rem;
    margin-bottom: 0;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    nav ul {
        background-color: #333;
        align-items: center;

        li {
            padding: 2rem;
        }
    }
}

main {
    display: flex;
    gap: 2rem;

    .content,
    aside {
        padding: 2rem;
    }

    .content {
        flex: 2 1 0;
        background-color: #2293bf;
    }

    aside {
        background-color: #6836b9;
        height: fit-content;
        flex: 1 1 0;
    }
}

footer {
    ul {
        justify-content: center;
    }
}
